db
config
*.*~
*.db
*.pyc
#*#
.DS_Store
env
\#*
\.#*
deploy
tns_glass/settings.py
django_quickblocks
/tnsglass.sql
/tns_glass/utils/templatetags/.ropeproject/config.py
/tns_glass/utils/templatetags/.ropeproject/globalnames
/tns_glass/utils/templatetags/.ropeproject/history
/tns_glass/utils/templatetags/.ropeproject/objectdb
/tns_glass/.ropeproject/config.py
/tns_glass/.ropeproject/globalnames
/tns_glass/.ropeproject/history
/tns_glass/.ropeproject/objectdb
/tns_glass/rapidsms_httprouter
/tns_glass/rapidsms_xforms
/dump.sql
/static/images/options.png
.coverage
coverage
coverage-report
media
smartmin
./bootstrap.css
bootstrap/*.css
.idea/*
