{% extends "smartmin/create.html" %}

{% load smartmin  i18n %}

{% block pre-form %}
<div class="row">
  <div class="span10">
    <div class="alert-message block-message warning">
      <p>{% trans "You can import all the scorecards for a season using a properly formatted CSV file." %}</p>
      <p><b>{% trans "Note that scorecards will overwrite all existing scorecard data for the season for the wetmills being imported." %}</b></p>
      <p>{% trans "It is recommended that you first" %} <a class="posterize" href="{% url 'scorecardimports.scorecardimport_action' %}?season={{season.id}}&template=template">{% trans "download a sample file" %}</a> {% trans "for the" %} {{ season.name }} {% trans "season to get started." %}</p>
    </div>
  </div>
</div>
{% endblock %}

